/* button for choosing different text sizes! */

.stacked-logo {
  position:absolute;
  z-index:100;
  top: 0em;
}

.header-image {
  margin-top: 0.7em;
}

.site-footer {
  background:url("../img/backgrounds/footer_background_portrait.jpg") no-repeat  center top;
  padding-top: 4em;
}

.footer-maps {
  padding-top: 1em;
  margin-bottom: 0.5em;
}

.row {
  font-family: droid-sans, sans-serif;
  font-weight: 100; 
}

.intended {
  margin-left: 0.2em;
}

body {
  font-family: droid-sans, sans-serif;
  font-weight: 300;
}

h1 {
  font-family: poiret-one, sans-serif;
  font-weight: 800;
  /*font-size: 3em;*/
}
h2 {
  font-family: poiret-one, sans-serif;
  font-weight: 800;
  /*font-size: 3em;*/
}
h3 {
  font-family: poiret-one, sans-serif;
  font-weight: 800;
  /*font-size: 3em;*/
}
p {
  font-family: droid-sans, sans-serif;
  font-weight: 300;
}
ul {
  font-family: droid-sans, sans-serif;
  font-weight: 100;
  /*font-family: poiret-one, sans-serif;
  font-weight: 400;*/
}
address {
  font-family: droid-sans, sans-serif;
  font-weight: 200;
}


.wide-navigation-center {
  max-width: 76.1em;
  margin: 0 auto;
}

.text-head {
  font-family: poiret-one, sans-serif;
  font-weight: 800;
}
.modal-title {
  font-family: poiret-one, sans-serif;
  font-weight: 800;
  text-align: center;
}
.welcome-text {
  font-size: 1.0em;
}
.content-text {
  font-size: 1.0em;
  font-family: droid-sans, sans-serif;
}
.quote-text {
  font-size: 1.25em;
  font-family: cookie, cursive;
  font-weight: 100;
}

.quote-author {
    font-family: droid-sans, sans-serif;
    font-size: 0.6em;
    color: grey;
  }

.content-list {
  font-size: 1.0em;
  font-family: droid-sans, sans-serif;
}

@media (min-width: 48em ) {

  .bgimage {
  /*padding-top: 5rem;*/
  background: url(../img/backgrounds/header_cut_2.jpg) no-repeat;
  /*background: url(../img/backgrounds/header_alpha_potrait.jpg) no-repeat;*/
  background-size: 100%;
 }

  /* dropbdown on hover */
  .dropdown:hover .dropdown-menu {
   display: block;
  }
  .navbar .dropdown-menu {
   margin-top: 0px;
  }

 /* style for placing header text on bottom of table, using flex attribute */
  .outerBox {
      /*border: 1px dashed blue;*/
      margin: 0 auto;
      display: flex;
  }
  .innerBox {
      /*border: 1px dashed red;*/
      position: absolute;
      bottom: -0.8em;
      left: 2em;
  }
  .innerBoxMiddle {
      position: absolute;
      bottom: 3em;
      left: 0em;
  }

  .small-text {
    font-family: droid-sans, sans-serif;
    font-size: 0.8em;
  }

}
@media (max-width: 47.9em ) {
 .bgimage {
  /*padding-top: 5rem;*/
  background: url(../img/backgrounds/header_cut_portrait.jpg) no-repeat;
  /*background: url(../img/backgrounds/header_alpha_potrait.jpg) no-repeat;*/
  background-size: 100%;
 }
  /* not needed, due to text being centered beneath picture anyway */
  .outerBox {
  }
  .innerBox {
    vertical-align:baseline;
    text-align:center;
  }
  .innerBoxMiddle {
    vertical-align:baseline;
    text-align:center;
  }
}

@media print {
  .container {
    width: auto;
  }
}