---
title: Kontakt
layout: page
image: "/img/head/praxis.jpg"
---

<div class="row">
    <div class="col-xs-12 col-md-6 col-md-push-6">
		<h3 class="text-head">Anfrage senden</h3>
		<hr>
		{% include contact_form.html %}
    </div>
    <div class="col-xs-12 col-md-6 col-md-pull-6">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				{% include address_eva.html %}
    		</div>
			<div class="col-xs-12 col-md-6">
				{% include address_reinhard.html %}
    		</div>
    		<div class="col-xs-12 col-md-12">
				{% include address_notel.html %}
    		</div>
    		<div class="col-xs-12 col-md-11">
				<a class="maps-picture" href="https://www.google.com/maps/dir//Jägerweg+7,+9122,+Austria/" target="_blank">
					<img class="img-fluid img-rounded" src="http://maps.googleapis.com/maps/api/staticmap?center=Jägerweg+7,+9122,+Austria&zoom=15&scale=false&size=800x400&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:red%7Clabel:1%7CJägerweg+7,+9122,+Austria" alt="Google Map of Jägerweg 7, 9122,Austria">
				</a>
				<br>
			</div>
		</div>
	</div>
</div>