---
layout: page
title: Herzlich Willkommen
image: /img/head/reinhard_eva_freigestellt-min.png
---
<div class="row">
	<div class="col-xs-12 col-md-6 col-lg-8">
		<p class="lead">
		Vielleicht erleben Sie gerade schwierige Zeiten oder wollen sich persönlich bzw. beruflich weiterentwickeln. Gerne unterstützen wir Sie dabei Ihr Leben freudvoller und selbstbestimmter zu gestalten oder einen guten Weg aus Ihren Problemen zu finden.
		Wenn unsere Informationen Sie neugierig machen, würden wir uns freuen, wenn Sie mit uns in <a href="/pages/kontakt">Kontakt</a> treten. 
		</p>
		<br>
		<div class="row">
			<div class="col-xs-12 col-lg-9">
				<h4 id="aktuelles" class="text-head">Aktuelles</h4>
				<hr>
				derzeit keine Aktuellen Termine.
				{% include current.html %}
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-md-6 col-lg-4">
		<blockquote class="blockquote blockquote">
		  <p class="quote-text">Je besser wir uns selber kennen, desto besser wird unser Leben. Wenn wir Probleme bekommen, hat das oft mit Teilen unseres Selbst zu tun, die wir nicht kennen.</p>
		  <div class="quote-text"><div class="text-xs-right"><footer class="quote-author">Irvin D. Yalom</footer></div></div>
		</blockquote>
		<br>
		<h4 class="text-head">Terminvereinbarung</h4>
		<hr>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6 small-text">{% include address_reinhard.html %}</div>
			<div class="col-xs-12 col-sm-6 col-md-6 small-text">{% include address_eva.html %}</div>
			<div class="col-xs-12 col-lg-8 small-text">{% include address_notel.html %}</div>
			<div class="col-xs-12">
				<a class="maps-picture" href="https://www.google.com/maps/dir//Jägerweg+7,+9122,+Austria/" target="_blank">
					<img class="img-fluid img-rounded" src="http://maps.googleapis.com/maps/api/staticmap?center=Jägerweg+7,+9122,+Austria&zoom=14&scale=false&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:red%7Clabel:1%7CJägerweg+7,+9122,+Austria" alt="Google Map of Jägerweg 7, 9122,Austria">
				</a>
			</div>
		</div>
	</div>
</div>
