{% assign selection = include.select %}
{% assign subjectline = "[Anfrage]" %}
{% case selection %}
{% when '1' %} {% assign checked_1 ="checked" subject= %}
{% when '2' %} {% assign checked_2 ="checked" %}
{% when '3' %} {% assign checked_3 ="checked" %}
{% when '4' %} {% assign checked_4 ="checked" %}
{% else %}     {% assign checked_5 ="checked" %}
{% endcase %}

<form action="https://formspree.io/office@praxis-lebenswerkstatt.at" method="POST">
    <input type="hidden" name="_subject" value={{subjectline}}>
    <input type="hidden" name="_after" value="http://praxis-lebenswerkstatt.at/pages/thank_you">
    <input type="text"   name="_honey" value="" style="display:none">
  <div class="form-group row">
    <label for="emailField" class="col-sm-2 form-control-label">Email</label>
    <div class="col-sm-10">
      <input id="email" name="email" type="email" class="form-control" placeholder="name@web.at">
    </div>
  </div>
  <div class="form-group row">
    <label for="phoneField" class="col-sm-2 form-control-label">Telefon</label>
    <div class="col-sm-10">
      <input id="phone" name="phone" type="phone" class="form-control" placeholder="">
    </div>
  </div>
  <!-- add phone number -->
  <div class="form-group row">
    <label for="commentLabel" class="col-sm-2 form-control-label">Anfrage</label>
    <div class="col-sm-10">
      <textarea id="comment" name="Anfrage" class="form-control" rows="5"></textarea>
    </div>
  </div>
  <!-- here have calendar show up, if person chooses therapy session, mark available dates -->
  <div class="form-group row">
    <label class="col-sm-2">Art der Anfrage:</label>
      <div class="col-sm-10">
        <div class="radio">
          <label>
            <input type="radio" name="Anfrageart" id="gridRadios1" value="Psychotherapie" {{checked_1}}>Psychotherapie
          </label>
        </div>
  	    <div class="radio">
          <label>
            <input type="radio" name="Anfrageart" id="gridRadios2" value="Beratung" {{checked_2}}>Beratung
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="Anfrageart" id="gridRadios3" value="Supervision & Coaching" {{checked_3}}>Supervision & Coaching
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="Anfrageart" id="gridRadios4" value="Seminare/Gruppen" {{checked_4}}>Seminare/Gruppen
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="Anfrageart" id="gridRadios5" value="Allgemeine Anfrage" {{checked_5}}>Allgemeine Anfrage
          </label>
        </div>
      </div>
    </div>
  <div class="form-group row">
    <div class="col-sm-offset-2 col-sm-10">
      <button id="submit" name="submit" type="submit" class="btn btn-secondary">Senden</button>
    </div>
  </div>
</form>