<footer class="site-footer-intern">
    <!-- footer row -->
    <div class="row">
		<div class="col-xs-12 col-sm-6 col-md-4">
			<nav class="navbar">
				{% include address.html %}
			</nav>
		</div>
		<div class="col-xs-12 col-sm-6 col-sm-offset-0 col-md-4 col-md-offset-0">
			<nav class="navbar">
				<div class="footer-maps center-block">
					<a href="https://www.google.com/maps/dir//Jägerweg+7,+9122,+Austria/" target="_blank">
					<img class="img-fluid img-rounded" src="http://maps.googleapis.com/maps/api/staticmap?center=Jägerweg+7,+9122,+Austria&zoom=14&scale=false&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:red%7Clabel:1%7CJägerweg+7,+9122,+Austria"
					alt="Google Map of Jägerweg 7, 9122, Austria">
				</a>
				</div>
			</nav>
		</div>
		<div class="col-xs-12 col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-0">
			<nav class="navbar">
				<div class="pull-right">
					<a class="nav-link active" href="/pages/kontakt">Kontakt</a> |
					<a class="nav-link" href="/pages/impressium">Impressum</a>
				</div>
			</nav>
		</div>
	</div>
</footer>
