<!-- Button trigger modal -->
<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#manFindetModal">
  Man findet nur, was man erwartet
</button> 

<!-- Modal -->
<div class="modal fade" id="manFindetModal" tabindex="-1" role="dialog" aria-labelledby="manFindetModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="manFindetModalLabel">Man findet nur, was man erwartet</h4>
      </div>
      <div class="modal-body">
        <p>
          Es war einmal ein Mann, der wohnte nahe einer Oase, im Einzugsbereich einer Stadt im mittleren Orient.<br>
          Ein junger Mann näherte sich ihm und fragte ihn: <br>
          »Ich war noch nie hier. Wie sind die Leute, die in dieser Stadt leben?«<br>
          Der alte Mann antwortete auf seine Frage:<br>
          »Wie waren die Leute in der Stadt, aus der du kommst?«<br>
          »Egoisten und Bösewichte. Das ist übrigens der Grund, weshalb ich sehr zufrieden war, dass ich abreisen konnte.«<br>
          »Du wirst hier die gleichen finden«, antwortete ihm der alte Mann.<br>
          Ein wenig später näherte sich ein anderer junger Mann und stellte ihm die gleiche Frage:<br>
          »Ich komme gerade hier an. Wie sind die Leute, die in dieser Stadt leben?«<br>
          Der alte Mann antwortete wieder gleich:<br>
          »Sage mir, mein Junge, wie waren die Leute in der Stadt, aus der du kommst?«<br>
          »Sie waren gute Leute, wohlwollende, bewillkommnende und ehrbare. Ich hatte dort zahlreiche Freunde und es tat mir sehr leid, als ich sie verließ.«   <br>
          »Du wirst die gleichen hier finden«, antwortete ihm der alte Mann.<br>
          Ein Kaufmann, der seine Kamele tränkte, hatte beiden Gespräche mitgehört. <br>
          Nachdem der zweite junge Mann sich entfernte, wandte er sich tadelnd an den Alten:<br>
          »Wie kannst du zwei ganz verschiedene Antworten auf die gestellte Frage der beiden Personen geben?«<br>
          "Mein Sohn«, sagte der alte Mann, »jeder trägt sein Universum in seinem Herzen. Derjenige der von einem Ort kommt an dem er nichts Gutes in der Vergangenheit gefunden hat, wird auch hier nichts Gutes mehr finden. <br>
          Dagegen wird derjenige, der in der anderen Stadt viele Freunde hatte, auch hier willige und treue Freunde finden. <br>
          Denn, sieh, die Leute sind gegenüber uns das, was wir in ihnen zu finden glauben.«<br><br>
          Erzählung aus Burkina Faso
        </p>
        <nav>
          <ul class="pager">
            <li class="pager-next"><a href="/pages/interessantes">Weitere Geschichten, Zitate, Hilfreiches & Links<span aria-hidden="true">&raquo;</span></a></li>
          </ul>
        </nav>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
      </div>
    </div>
  </div>
</div>
