<!-- Button trigger modal -->
<p>
  Es wäre sinnvoll, eine(n) Psychotherapeutin(en) aufzusuchen, wenn einer der 
<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal">
  20 Gründe eine Psychotherapie zu beginnen 
</button> 
auf Sie zutrifft.</p>
<!--
<p>
  1Es wäre sinnvoll eine(n) Psychotherapeutin(en) aufzusuchen wenn einer 
<a data-toggle="modal" data-target="#myModal" class="label label-warning">20 Gründe eine Psychotherapie zu beginnen</a>
der auf Sie zutrifft.
</p>-->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">20 Gründe eine Psychotherapie zu beginnen </h4>
      </div>
      <div class="modal-body">
  Wenn einer der folgenden Sätze für Sie zutrifft, ..

  <ul>
    <li>Ich fühle mich krank oder habe Schmerzen, obwohl mich der Arzt für organisch gesund erklärt hat oder medizinische Befunde keine ausreichende Erklärung dafür bieten.</li>
    <li>Seit längerer Zeit halte ich mich nur noch mit Aufputsch-, Beruhigungs- oder Schlafmitteln (Psychopharmaka) aufrecht.</li>
    <li>Ohne ersichtlichen Grund bekomme ich rasende Herzklopfen und Angst, dass ich sterben muss.</li>
    <li>Ich habe Ängste, die mich belasten oder einschränken: z. B. vor dem Kontakt mit meinen Mitmenschen, vor Autoritäten, vor großen Plätzen, vor engen Räumen, vor Prüfungen.</li>
    <li>Es plagen mich oft Gedanken, über die ich mit niemandem zu sprechen wage (Scham- und Schuldgefühle, Hassgefühle, Unzulänglichkeitsgefühle, das Gefühl, verfolgt oder fremdbestimmt zu werden,…).</li>
    <li>Ich fühle mich antriebs- und lustlos, erschöpft oder ständig überfordert.</li>
    <li>Ich bin oft niedergeschlagen und habe keine Freude am Leben.</li>
    <li>Ich bin traurig und vereinsamt.</li>
    <li>Ich befinde mich in einer belastenden Umbruchsituation (z. B. schwere Krankheit, Tod, Arbeitslosigkeit, Scheidung, Trennung, Unfälle,…), die schwer zu bewältigen ist.</li>
    <li>Ich denke manchmal an Selbstmord.</li>
    <li>Ich lebe in einer Beziehung, die mich sehr belastet.</li>
    <li>Ich fühle mich durch meine Kinder dauerhaft überfordert.</li>
    <li>Ich habe wiederkehrend große Probleme im Kontakt mit anderen Menschen (z. B. am Arbeitsplatz).</li>
    <li>Ich bin süchtig - nach Alkohol, Drogen, Essen, Hunger, Liebe, Spielen.</li>
    <li>Ich fühle mich innerlich gezwungen, ständig dasselbe zu denken oder zu tun (z. B. zwanghaftes Waschen, Zusperren, Grübeln,….), obwohl dies ein Leben sehr einengt.</li>
    <li>Ich sollte meine Fähigkeiten besser ausschöpfen und weiß nicht wie.</li>
    <li>Ich komme mit meiner Sexualität nicht zurecht.</li>
    <li>Ich habe Angst vor Entscheidungen, und das quält mich.</li>
    <li>Mein Kind zeigt Verhaltensauffälligkeiten oder hat psychosomatische Probleme.</li>
    <li>Mein Kind reagiert oft aggressiv oder ist traurig und zieht sich zurück. Es hat Schwierigkeiten, mit Gleichaltrigen in Kontakt zu kommen. Ebenso können Schulangst, Lern- und Konzentrationsschwierigkeiten Ausdruck psychischer Probleme sein. (Wenn die letzten Punkte zutreffen, sollten Sie mit Ihrem Kind Kontakt zu einer PsychotherapeutIn aufnehmen.)</li>
  </ul>
  ... ist es sinnvoll, eine (n) Psychotherapeutin (en) aufzusuchen. (Wenn die letzten Punkte zutreffen, sollten Sie mit Ihrem Kind Kontakt zu einer Psychotherapeutin oder einem Psychotherapeuten aufnehmen.)

  <p class="text-xs-right">
    <br>
    Quelle: 
    <a href="http://www.psyonline.at/contents/13544/20-gruende-eine-psychotherapeutin-oder-einen-psychotherapeuten-aufzusuchen" target="_blank">PsyOnline - 20 Gründe</a>
  </p>
  
</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
      </div>
    </div>
  </div>
</div>
