---
layout: page
title: Kosten
image: /img/head/flower_orange_cropped.jpg
---
<div class="row">
	<div class="col-sm-12 col-md-3">
		<div class="card card-block">
			<h4 class="card-title">Erstgespräch</h4>
			<p class="card-text">
				In einem Erstgespräch werden Ihre Anliegen und auch die Rahmenbedingungen für eine vertrauensvolle therapeutische Zusammenarbeit (Häufigkeit der Therapiesitzungen, Zahlungsmodalität und Absageregelungen) geklärt.
			</p>
			<div class="row">
				<div class="col-sm-12">
					<div class="alert alert-success" role="alert">
						<strong>Preis: </strong> € 80
					</div>
				</div>
				<div class="col-sm-12">
					<div class="alert alert-info" role="alert">
						<strong>Dauer: </strong> 50 min.
					</div>
				</div>
				<div class="col-sm-12">
					<!--<a href="#" class="pull-right btn btn-primary">Anfrage senden</a>-->
					{% include send_request_button.html selection='0' %}
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-3">
		<div class="card card-block">
			<h4 class="card-title">Einzeltherapie</h4>
			<div class="row">
				<div class="col-sm-12">
					<div class="alert alert-success" role="alert">
						<strong>Preis: </strong> € 80
					</div>
				</div>
				<div class="col-sm-12">
					<div class="alert alert-info" role="alert">
						<strong>Dauer: </strong> 50 min.
					</div>
				</div>
				<div class="col-sm-12">
					{% include send_request_button.html selection='1' %}
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-3">
		<div class="card card-block">
			<h4 class="card-title">Beratung</h4>
			<div class="row">
				<div class="col-sm-12">
					<div class="alert alert-success" role="alert">
						<strong>Preis: </strong> € 80
					</div>
				</div>
				<div class="col-sm-12">
					<div class="alert alert-info" role="alert">
						<strong>Dauer: </strong> 50 min.
					</div>
				</div>
				<div class="col-sm-12">
					{% include send_request_button.html selection='2' %}
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-3">
		<div class="card card-block">
			<h4 class="card-title">Supervison/Coaching</h4>
			<div class="row">
				<div class="col-sm-12">
					<div class="alert alert-success" role="alert">
						<strong>Preis: </strong> € 80 - 100
					</div>
				</div>
				<div class="col-sm-12">
					<div class="alert alert-info" role="alert">
						<strong>Dauer: </strong> 50 min.
					</div>
				</div>
				<div class="col-sm-12">
					{% include send_request_button.html selection='3' %}
				</div>
			</div>
		</div>
	</div>
</div>
<p>
	<strong>Psychotherapeutische Gespräche unterliegen der absoluten Verschwiegenheitspflicht.</strong>
</p>

<p>
	Kostenzuschuss durch Krankenkassen, z.B. 
	<strong>GKK € 21,80.-</strong>, 
	<strong>BVA € 40.-</strong>
	<br>
	Sozialtarif ist nach Absprache möglich.
</p>
