---
layout: default
---

<!-- tablehead row -->
<div class="row outerBox">
    <div class="col-md-8 col-md-push-4">
    <!-- 
		For different sizes, have instead:
		For big images: <img src="/img/head/{{ page.image }}" class="header-image img-fluid img-rounded" alt="Head Image">
		For small images: <img src="/img/head_sm/{{ page.image }}" class="header-image img-fluid img-rounded" alt="Head Image">
		For xsmall images: <img src="/img/head_xs/{{ page.image }}" class="header-image img-fluid img-rounded" alt="Head Image">
		choose, by using tag based on REM values of device.
		Maybe there is another way?
    -->
            <img src="{{ page.image }}" class="header-image img-fluid img-rounded" alt="Head Image">
    </div>
    <div class="col-md-4 col-md-pull-8">
        <div class="innerBox"><h1 class="text-head">{{ page.title }}</h1></div>
    </div>
</div>

<!-- full width content row -->
<div class="col-xs-12">
    <hr>
    {{ content }}
</div>
