---
layout: default
---

<div class="post">

  <header class="post-header">
    <br><br>
    <h3 class="post-title"><br>{{ page.title }}</h3>
    <p class="post-meta intended">
      <strong>Wann:</strong>
      {% assign m = page.date | date: "%-m" %}
      {{ page.date | date: "%d" }}.
      {% case m %}
        {% when '1' %}Januar
        {% when '2' %}Februar
        {% when '3' %}März
        {% when '4' %}April
        {% when '5' %}Mai
        {% when '6' %}Juni
        {% when '7' %}Juli
        {% when '8' %}August
        {% when '9' %}September
        {% when '10' %}Oktober
        {% when '11' %}November
        {% when '12' %}Dezember
      {% endcase %}
      {{ page.date | date: "%Y" }}
      
    {% if page.zeit %}<br><strong>Zeit: </strong>{{ page.zeit }}{% endif %}
    {% if page.ort %}<br><strong>Ort:</strong> {{page.ort}}{% endif %}
    {% if page.beginn %}<br><strong>Beginn: </strong>{{ page.beginn }}{% endif %}
    {% if page.ende %}<br><strong>Ende: </strong>{{ page.ende }}{% endif %}
    {% if page.leiter %}<br><strong>Gruppenleitung: </strong>{{ page.leiter }}{% endif %}
    {% if page.dauer %}<br><strong>Dauer:</strong> {{page.dauer}}{% endif %}
    </p>
  </header>
  <div class="row">
    <div class="col-xs-12 col-md-8">
    <article class="post-content">
    {% if page.anmeldung %}<h4>&nbsp;</h4>{% endif %}
    <hr>
      {{ content }}
    </article>
    </div>
    {% if page.anmeldung %}
    <div class="col-xs-12 col-md-4">
    <h4>Anmeldung</h4>
    <hr>
    {% include contact_form.html %}
    </div>
    {% endif %}
  </div>
  <nav>
  <ul class="pager">
    <li class="pager-prev"><a href="/#aktuelles"><span aria-hidden="true">&laquo;</span>Zurück</a></li>
  </ul>
</nav>

</div>
